@import "fonts/Raleway";
@import "fonts/Rubik";

html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-weight: 400;
  background-color: $background-white;
  box-sizing: border-box;
  color: $text-major;
}

a {
  text-decoration: none
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

._non-space {
  margin: 0
}

.line {
  width: 100%;
  height: 1px;
  background-color: $gray
}

.ps__thumb-y, .ps__thumb-x, .ps__rail-x, .ps__rail-y {
  visibility: hidden
}