footer {
  @include direction-column;
  align-items: center;
  width: 100%;

  .bottom-content {
    @include direction-column;
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    padding: 80px 36px;
    box-sizing: border-box;

    .services-content {
      display: flex;
      justify-content: space-between;

      .column-content {
        @include direction-column;
        gap: 16px;

        .title {
          @include default-text;
          @include rubik-regular-text;
        }

        .footer-item {
          @include default-small-text;
          color: $dark-gray;
        }
      }
    }

    .external-links {
      @include space-between;

      .left,
      .right {
        @include align-items-center;
        gap: 20px;

        .footer-link {
          @include default-footnote;
          color: $light-gray;
        }
      }
    }
  }
}

@media only screen and (max-width: 1280px) {
  footer {
    .bottom-content {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 980px) {
  footer {
    .bottom-content {
      .services-content {
        flex-wrap: wrap;
        gap: 48px;

        .column-content {
          width: calc(50% - 24px);
          align-items: center;
        }
      }
    }
  }
}

@media only screen and (max-width: 575px) {
  footer {
    .bottom-content {
      padding: 20px 36px;

      .services-content {
        flex-direction: column;
        gap: 24px;

        .column-content {
          width: 100%;
          align-items: flex-start;
          border-bottom: 1px solid $gray-90;
          padding-bottom: 10px;
          gap: 8px;

          .title {
            @include mobile-title-text;
          }

          .footer-item {
            @include mobile-small-text;
          }
        }
      }

      .external-links {
        flex-wrap: wrap;
        gap: 10px;
      }
    }
  }
}