.main-btn {
  @include align-items-center;
  justify-content: center;
  border: none;
  outline: none;
  width: fit-content;
  height: 32px;
  border-radius: 4px;
  @include default-small-text;
  padding: 0 16px;
  cursor: pointer;

  &._dark-blue {
    background: $base-blue;
    color: $background-white;
  }

  &._pink {
    background: $pink;
    color: $background-white;
  }

  &._high {
    height: 40px;
  }
}

@media only screen and (max-width: 575px) {
  .main-btn {
    height: 28px;
    padding: 0 12px;
    @include mobile-small-text;

    &._high {
      height: 36px;
    }
  }
}