.header-top-block {
  @include direction-column;
  gap: 32px;
  padding-left: 36px;

  .search-block {
    @include align-items-center;
    width: 100%;
  }
}

.tablet-title {
  display: none;
}

.companies-block {
  @include direction-column;
  gap: 4px;
  width: 100%;
  margin-top: 32px;
}

.empty-block {
  @include justify-content-center;
  align-items: center;
  width: 100%;
  height: 200px;

  p {
    @include title-text;
    @include rubik-regular-text;
    color: $light-gray
  }
}

@media only screen and (max-width: 1280px) {
  .header-top-block {
    padding-left: 0;

    .title {
      display: none;
    }
  }

  .tablet-title {
    display: block;
  }
}

@media only screen and (max-width: 575px) {
  .companies-block {
    gap: 16px;
  }

  .tablet-title {
    @include mobile-h1;
  }
}